#header{
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#nav-bar li{
  list-style-type: none;
}
.nav-link{
  float: right;
  /* list-style-type: none; */
}
.nav-link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-link a:hover{
  background-color: #111;
}
.active{
  background-color: #4CAF50;
}
#header-img{
  float: left;
  width: 175px;
  height: auto;
  position: fixed;
  z-index: 500;
}
.body{
  padding-top: 60px;
  background-color: gray
}
.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 55px;
  color: white;
}
.subTitle{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
  margin: 1px;
  font-size: 20px;
  color: white;
}
#emailLabel{
  color: white;
}
.emailUL{
  list-style-type: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.button{
  background-color: #333;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.video {
  text-align: center;
  padding: 20px;
}
.helmets {
  display: flex;
  background-color: #111;
}

.helmets > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 10px;
  font-size: 30px;
}
.helmet{
  flex: 1 0 10px;
}

#helmet-photo{
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .body {
    background-color: #333;
  }
}
.active{
  background-color: #4CAF50;
}